/* ==========================================================================
   Reset
   ========================================================================== */
   
/**
 * This file contains resets not found in Normalize. I add styles here 
 * when I run into a default that messes with my layout. 
 * 
 * The styles that I have in the repo are ones that I commonly find myself
 * adding to this file.
 */
img {
	max-width: 100%;
}

ul, h1 {
	margin: 0;
	padding: 0;
}