/* ==========================================================================
   Site Variables
   ========================================================================== */

/* Custom Spacing variables 
   ========================================================================== */

/**
 * Define these first so that when you overwrite Bootstrap's variables you
 * have a custom variable to base them off.
 */
$spacing-base: 14px;
$spacing-large-base: $spacing-base*2;
$spacing-small-base: $spacing-base/2;
$spacing-xs-base: $spacing-small-base/2;

/* 
 * Make sure you keep the names & sizes consistent. You can add as many spacing 
 * sizes as you feel necessary
 */
$spacing-size-names: (xs, small, large);
$spacing-sizes: ($spacing-xs-base, $spacing-small-base, $spacing-large-base);


/* Bootstrap Typography overwrites
   ========================================================================== */
$font-size-base: 16px;


/* Bootstrap Spacing overwrites
   ========================================================================== */
$padding-base-vertical: $spacing-base;
$padding-base-horizontal: $spacing-base;

$padding-large-vertical: $spacing-large-base;
$padding-large-horizontal: $spacing-large-base;

$padding-small-vertical: $spacing-large-base;
$padding-small-horizontal: $spacing-large-base;

$padding-xs-vertical: $spacing-xs-base;
$padding-xs-horizontal: $spacing-xs-base;

$line-height-large: 1.33;
$line-height-small: 1.5;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;