/* ==========================================================================
   Site Variables
   ========================================================================== */

/* Custom Spacing variables 
   ========================================================================== */

/**
 * Define these first so that when you overwrite Bootstrap's variables you
 * have a custom variable to base them off.
 */
$spacing-base: 14px;
$spacing-double: $spacing-base*2;
$spacing-triple: $spacing-base*3;
$spacing-half: $spacing-base/2;
$spacing-quarter: $spacing-half/2;

/* 
 * Make sure you keep the names & sizes consistent. You can add as many spacing 
 * sizes as you feel necessary
 */
$spacing-size-names: (double, triple, half, quarter);
$spacing-sizes: ($spacing-double, $spacing-triple, $spacing-half, $spacing-quarter);

/* Custom Breakpoints collection
   ========================================================================== */
$breakpoints: (xs, sm, md, lg);

/* Screen sizes (by default equal to Bootstrap's defaults) */
$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;
$screen-lg-max: 9999px;

$breakpoint-widths: ($screen-xs-max, $screen-sm-max, $screen-md-max, $screen-lg-max);

/* Custom Color Variables
   ========================================================================== */
$color-brand: #B4D455;

/* Bootstrap Typography overwrites
   ========================================================================== */
$font-size-base: 16px;


/* Bootstrap Spacing overwrites
   ========================================================================== */
$padding-base-vertical: $spacing-base;
$padding-base-horizontal: $spacing-base;

$padding-large-vertical: $spacing-double;
$padding-large-horizontal: $spacing-double;

$padding-small-vertical: $spacing-half;
$padding-small-horizontal: $spacing-half;

$padding-xs-vertical: $spacing-quarter;
$padding-xs-horizontal: $spacing-quarter;

$line-height-large: 1.33;
$line-height-small: 1.5;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;