/* ==========================================================================
   Site Variables
   ========================================================================== */

/* Spacing 
   ========================================================================== */

/**
 * Define these first so that when you overwrite Bootstrap's variables you
 * have a custom variable to base them off.
 */
$spacing-base: 24px;
$spacing-double: $spacing-base*2;
$spacing-triple: $spacing-base*3;
$spacing-half: $spacing-base/2;
$spacing-quarter: $spacing-half/2;

$grid-gutter-width: $spacing-base;

/* 
 * Make sure you keep the names & sizes consistent. You can add as many spacing 
 * sizes as you feel necessary
 *
 * @TODO: Use SASS Maps instead
 */
$spacing-size-names: (double, triple, half, quarter);
$spacing-sizes: ($spacing-double, $spacing-triple, $spacing-half, $spacing-quarter);


/* Custom Breakpoints collection
   ========================================================================== */
$breakpoints: (xs, sm, md, lg);

/* Screen size overwrites (by default equal to Bootstrap's defaults) */
$screen-xs-min: 480px; // iPad Mini
$screen-sm-min: 768px; // iPad
$screen-md-min: 992px; // Small desktop (like 1024x768ish)
$screen-lg-min: 1200px; // Full desktop

/**
 * @TODO: Use SASS Maps instead
 */
$breakpoint-widths: ($screen-xs-min, $screen-sm-min, $screen-md-min, $screen-lg-min);


/* Color
   ========================================================================== */
$color-brand: #B4D455;
$color-primary: #B44B44;
$color-secondary: #D44D44;
$color-text: #333333;

/* Typography
   ========================================================================== */
$font-size-base: 16px;

$line-height-base: 1.428571429;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: inherit;

/* Spacing
   ========================================================================== */
$padding-base-vertical: $spacing-base;
$padding-base-horizontal: $spacing-base;

$padding-large-vertical: $spacing-double;
$padding-large-horizontal: $spacing-double;

$padding-small-vertical: $spacing-half;
$padding-small-horizontal: $spacing-half;

$padding-xs-vertical: $spacing-quarter;
$padding-xs-horizontal: $spacing-quarter;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;